@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(./Roboto-Bold.ttf) format('ttf');
    font-weight: 700;
    font-style: normal;
}

.hello {
    font-family: 'Roboto', sans-serif;
    color: red;
    font-size: 30px;
    background: url('./logo.jpg') no-repeat;
}